@media screen and (min-width:768px) {
    .main-container{
        width: 80%;
    }
    .cards{
        display: flex;
        flex-direction: row;
        padding: 0rem 1rem 0rem 1rem;
    }

    .card{
        margin: 0rem 0.5rem 0rem 0.5rem;
    }    

    input{
        max-width: 416px;
    }
}